* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif !important;
}
#root {
  display: flex;
  justify-content: center;
  height: 100dvh;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

#app {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.MuiContainer-root {
  padding: 0 !important;
}

#content {
  background-color: #ffffff;
  width: 100%;
  height: 67%;
  overflow: hidden !important;
}
.backgroundAdmin {
  background-color: #ecedee;
}

#footer {
  border-radius: 35px;
  width: 100%;
  height: 10%;
}
